<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card mt-5">
        <div class="card-header">
          <h2 class="text-center mb-0">新規会員登録</h2>
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <%= f.label :name, class: "font-weight-bold" %>
              <%= f.text_field :name, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :email, class: "font-weight-bold" %>
              <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "font-weight-bold" %>
              <% if @minimum_password_length %>
                <small>(<%= @minimum_password_length %>文字以上)</small>
              <% end %>
              <%= f.password_field :password, class: "form-control", autocomplete: "new-password", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: "font-weight-bold" %>
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", required: true %>
            </div>
            <div class="form-group">
              <%= f.submit "新規登録", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <hr>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
