<h2>投稿詳細</h2>

<div>
  <%= image_tag @topic.image %>
  <p>お題：<%= @topic.title %></p>
  <p>ニックネーム：<%= @topic.user.name %></p>
  <p>投稿日：<%= @topic.created_at.strftime('%Y/%m/%d') %></p>

  <% if @topic.user == current_user %>
    <%= link_to "編集", edit_topic_path(@topic) %>
    <%= link_to "削除", topic_path(@topic), method: :delete %>
  <% end %>
</div>

<div>
  コメント件数：<%= @topic.topic_comments.count %>
  <% @topic.topic_comments.each do |topic_comment| %>
  <%= topic_comment.user.name %>
  <%= topic_comment.created_at.strftime('%Y/%m/%d') %><%= topic_comment.comment %>
   <% if topic_comment.user == current_user %>
      <%= link_to "削除", topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete %>
   <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@topic, @topic_comment] do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "ボケを投稿する！" %>
  <%= f.submit "ボケる" %>
  <% end %>
</div>