<h2>投稿詳細</h2>

<%= render 'layouts/errors',obj: @topic_comment %>

<div>
  <%= image_tag @topic.image,size: "300x300" %>
  <p>お題：<%= @topic.title %></p>
  <p>ニックネーム：<%= @topic.user.name %></p>
  <p>投稿日：<%= @topic.created_at.strftime('%Y/%m/%d') %></p>

  <% if @topic.user == current_user %>
    <%= link_to "編集", edit_topic_path(@topic) %>
    <%= link_to "削除", topic_path(@topic), method: :delete %>
  <% end %>
</div>

<div>
 <%= render 'likes/btn', topic: @topic %>
</div>

<div>
  <%= render 'topic_comments/form', topic: @topic,topic_comment: @topic_comment %>
</div>
