 <% topic.topic_comments.each do |topic_comment| %>
    <div class="card my-4">
      <div class="card-body">
        <p class="card-text"><%= topic_comment.user.name %></p>
        <h5 class="card-title"><%= topic_comment.comment %></h5>
        <p class="card-text text-muted"><%= topic_comment.created_at.strftime("%Y/%m/%d") %></p>

        <!--ログインしていないユーザーにはカウント数のみ表示-->
        <% if user_signed_in? %>
          <% if Like.find_by(user_id: current_user.id, topic_id: topic.id, topic_comment_id: topic_comment.id) %>
            <%= link_to topic_topic_comment_like_path(topic, topic_comment, topic_comment.likes),class: "like-link", method: :delete,remote: true do %>
              <i class="fas fa-heart text-danger" aria-hidden="true"></i>
            <% end %>
            <span class="ml-2"><%= topic_comment.likes.count %> いいね！</span>
          <% else %>
            <%= link_to topic_topic_comment_likes_path(topic, topic_comment),class: "like-link", method: :post,remote: true do %>
              <i class="fas fa-heart" aria-hidden="true"></i>
            <% end %>
            <span class="ml-2"><%= topic_comment.likes.count %> いいね！</span>
          <% end %>
        <% else %>
          <span class="ml-2"><%= topic_comment.likes.count %> いいね！</span>
        <% end %>

        <% if topic_comment.user == current_user %>
          <%= link_to "コメントを削除", topic_topic_comment_path(topic_comment.topic, topic_comment), method: :delete, data: { confirm: "本当に削除しますか？" },remote: true, class: "btn btn-danger ml-3" %>
        <% end %>
      </div>
    </div>
  <% end %>